.starContainer {
    position: relative;
    text-align: center;
    color: white;
}
.starIcon {
    content:url("../imgs/Star.png");
    width: 75px;
    height: 75px;
}
.gsIcon {
    content:url("../imgs/GoldenScrap.png");
    width: 75px;
    height: 75px;
}
.magIcon {
    content:url("../imgs/magnet.png");
    width: 75px;
    height: 75px;
}
.fragmentIcon {
    content:url("../imgs/starfragment.png");
    width: 75px;
    height: 75px;
}
.starInput{
    margin-left: 5px;
    width: 80px;
    text-align: center;
    border: none;
    background: transparent;
    outline: none;
    font-weight: bold;
    font-size:medium;
}
.dispInput{
    text-align: center;
    border: none;
    background: transparent;
    outline: none;
}
.centered {
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
}

.red::placeholder{
    color: red;
}